[Unit]
Description=LED driver for network ready signal
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/led_id_dwr_ready.sh

[Install]
WantedBy=multi-user.target
